$main-padding: 5px;
$main-color: #630609;
$container-background-color: #A03030; 

$default-content-margin: 25px;
$default-title-color: #FCFCFC;
$default-color: #DCDCFF;

.default-title-extension {
	color: $default-title-color;
	text-decoration: underline;
	font-weight: bold;
}

.default-container-extension { 
	padding: $main-padding;
	margin: 15px;
	border: 3px solid #000000;
	box-shadow: 5px 10px 20px #101010;
	background: $container-background-color;
}

.imageContainer {
	@extend .default-container-extension;	
	max-width: 450px;
	min-width: 450px;
	max-height: 450px;
	min-height: 450px;
	margin: $default-content-margin;
}

.imageContent {
	max-height: 400px;
	max-height: 400px;
	border: 2px solid #101010;
	margin: 15px 0px 0px 15px;
}

.previewImageContainer {
	@extend .default-container-extension;
	margin: $default-content-margin;
	max-height: 450px;
	min-height: 450px;	
	max-width: 250px;
	min-width: 250px;
}

.previewImageContent { 
	max-height: 400px;
	min-height: 400px;	
	max-width: 200px;
	min-width: 200px;
	border: 2px solid #101010;
	margin: 17.5px 0px 0px 17.5px;
}

.graphContainer {
	@extend .default-container-extension;
	margin: $default-content-margin;
	max-height: 400px;
	min-height: 400px;
	max-width: 750px;
	min-width: 750px;
}

.canvasGraph {
	border: 2px solid #000;
	margin: 10px 5px 5px 5px;
}

.canvasPlot {
	
}

.mainTitle {
	color: $default-title-color;
	background: #A0423D;
	border: 2px solid #EFEFEF;
	max-width: 500px;
	min-width: 500px;
	padding: 5px 10px 5px 0px;
	margin: 5px;
	font-size: 42px;
	text-align: center;
}

.mainQuote {
	color: #fff;
	font-size: 16px;
	font-style: italic;
	margin: 5px 50px 5px 50px;
}

.format {
	display: inline-block;
	padding-top: 5px;
	margin: $default-content-margin;
}

.spacer {
	margin-left: 10px;
	padding-left: 10px;
}

.mainInput {
	color: $default-title-color;
	padding-left: $main-padding;
}

body {
	background: $main-color;
}

a { 
	color: $default-color;
}

a:hover {
	color: $default-title-color;
	text-decoration: none;
}
